.popupCard {
	width: 34.5rem;
	height: 15rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-self: center;
	text-align: center;
	padding: 2rem 2rem;
	flex-direction: column;
	margin-top: 1rem;
}

.popupHeading {
	margin-bottom: 1.2rem;
	font-weight: 700;
}

.popupSubHeading {
	margin-bottom: 2rem;
	font-size: 1.5rem;
	color: #555555;
}

.popupRow {
	display: flex;
}

.offerCard {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	display: block;
	width: 34.5rem;
	height: 40rem;
	padding: 2rem 2rem;
	margin-top: 1rem;
}

.headingRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.inputRow {
	flex-direction: row-reverse;
	align-items: center;
	border: 1px solid #e0e0e0;
	border-radius: 0.8rem;
	margin: 1rem 0;
	padding: 1.3rem 1rem;
	justify-content: flex-end;
}

.inputClassName {
	width: 2rem;
	height: 2rem;
	margin-right: 0.5rem;
}

.labelClassName {
	color: #525252;
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 0;
}

.offerHeading {
	font-size: 1.8rem;
	font-weight: 700;
}

.button {
	margin-top: 1rem;
}

@media screen and (min-width: 768px) {
	.offerCard {
		width: 48.5rem;
		margin-top: 0;
		height: 46rem;
	}

	.offerHeading {
		font-size: 2.5rem;
	}

	.inputRow {
		margin: 1.5rem 0;
	}

	.button {
		margin-top: 2rem;
	}
}
