.popupCard {
	width: 34.5rem;
	height: 15rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-self: center;
	text-align: center;
	padding: 2rem 2rem;
	flex-direction: column;
	margin-top: 1rem;
}

.popupHeading {
	margin-bottom: 1.2rem;
	font-weight: 700;
}

.popupSubHeading {
	margin-bottom: 2rem;
	font-size: 1.5rem;
	color: #555555;
}

.popupRow {
	display: flex;
}

.offerCard {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	display: block;
	width: 34.5rem;
	height: 40rem;
	padding: 2rem 2rem;
	margin-top: 1rem;
}

.headingRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.offerHeading {
	font-size: 1.8rem;
	font-weight: 700;
}

.button {
	width: 30.5rem;
	height: 4.5rem;
	margin: 0 auto;
	margin-top: 1rem;
}

@media screen and (min-width: 768px) {
	.offerCard {
		width: 48.5rem;
		margin-top: 0;
		height: 46rem;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.offerHeading {
		font-size: 2.5rem;
	}

	.button {
		margin-top: 2rem;
	}
}
