.inputRow {
	display: flex;
	flex-direction: column;
}

.inputLabel {
	font-size: 1.5rem;
	color: #525252;
	padding-bottom: 0.5rem;
}

.input {
	outline: none;
	width: 100%;
	height: 4.5rem;
	font-size: 1.5rem;
	border: 0;
	border-radius: 0.8rem;
	background-color: #f4f4f4;
}

.input::placeholder {
	color: #99a0a7;
}

.input:focus.input-success {
	background-color: var(--primary-light-blue);
	border: 0.1rem solid var(--primary-blue);
}

.inpu-success::placeholder {
	color: #3e3e3e;
}

.input-error {
	background-color: var(--error-light);
	color: var(--error);
	border: 0.1rem solid var(--error);
}

.input-error::placeholder {
	color: var(--error);
}
