.inputRow {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
}

.label {
	font-size: 1.5rem;
	color: #525252;
	margin-bottom: 0.5rem;
}

.input {
	outline: none;
	width: 100%;
	height: 4.5rem;
	font-size: 1.5rem;
	padding: 1.2rem 1.5rem;
	border: 0;
	border-radius: 0.8rem;
	background-color: #f4f4f4;
}

.input:focus.input-success {
	background-color: var(--primary-light-blue);
	border: 0.1rem solid var(--primary-blue);
}

.input-success::placeholder {
	color: #3e3e3e;
}

.input-error {
	background-color: var(--error-light);
	border: 0.1rem solid var(--error);
}

.input-error::placeholder {
	color: var(--error) !important;
}

.error {
	color: #f77474;
	font-size: 1.2rem;
	margin-top: 0.4rem;
}
