.button-submit {
	cursor: pointer;
	display: inline-block;
	border: none;
	border-radius: 0.8rem;
	font-weight: 600;
	width: 100%;
}

.button-primary {
	background-color: var(--primary-blue);
	color: #ffffff;
}

.button-secondary {
	background-color: var(--primary-light-blue);
	color: var(--primary-blue);
	padding: 1.1rem 0;
}

.button-decline {
	background-color: #f77474;
	color: #ffffff;
}
