.card {
	margin-top: 2rem;
	height: 67.6rem;
	padding: 1rem;
	flex-direction: column;
}

.single-card-image {
	border-radius: 2%;
	height: 50%;
	object-fit: contain;
}

.single-card-content {
	flex: 0.6;
	padding-top: 1.5rem;
}

.single-card-info {
	width: 90%;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.single-card-description {
	display: flex;
	flex-direction: column;
}

.description-heading {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.description-content {
	font-size: 1.5rem;
	color: #555555;
}

.single-card-heading {
	font-size: 1.8rem;
	font-weight: 600;
}

.single-card-prices {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1rem;
	border-radius: 0.8rem;
}

.single-card-price {
	font-size: 2rem;
	font-weight: 700;
}

.single-card-offer {
	width: 65%;
	margin-top: 0.5rem;
	padding: 0.8rem 1rem;
	background-color: #f2f2f2;
	align-items: center;
}

.single-card-offer span:first-child {
	flex: 1.2;
	font-size: 1.5rem;
	color: #b1b1b1;
}

.single-card-offer span:last-child {
	font-size: 1.5rem;
	color: #525252;
	font-weight: 700;
}

.single-card-info span {
	margin: 0.5rem 0;
}

.single-card-actions {
	width: 100%;
	height: 6.5rem;
	box-shadow: 0px -3px 8px #1e364814;
	padding: 1rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	position: fixed;
	z-index: 1;
	bottom: 0;
	left: 0;
}

.noneButton {
	width: 29.5rem;
	height: 4.7rem;
	background-color: #fff0e2;
	color: #faad60;
	font-size: 1.6rem;
	pointer-events: none;
	cursor: not-allowed;
}

.primaryButton {
	width: 23.5rem;
	height: 4.5rem;
}

.secondaryButton {
	width: 23.5rem;
	height: 4.5rem;
	padding-left: 1rem;
}

@media screen and (min-width: 768px) {
	.card {
		flex-direction: row;
		height: 76.9rem;
		padding: 1.6rem 1.5rem 1.6rem 1.5rem;
	}
	.single-card-heading {
		font-size: 3.4rem;
	}
	.single-card-image {
		width: 40%;
		object-fit: fill;
		height: 100%;
	}
	.single-card-actions {
		position: relative;
		background-color: transparent;
		justify-content: flex-start;
		padding: 1rem 0;
		margin-top: 2rem;
		box-shadow: none;
	}
	.single-card-prices {
		display: block;
	}
	.single-card-price {
		font-size: 2rem;
	}
	.single-card-info {
		width: 50%;
		margin-bottom: 0.5rem;
	}
	.single-card-content {
		margin-left: 6rem;
	}
	.single-card-info span {
		margin: 1rem 0;
	}
	.row-reverse {
		display: flex;
		flex-direction: column-reverse;
	}
	.single-card-description {
		margin-top: 2.5rem;
	}
	.description-heading {
		font-size: 1.8rem;
	}
}
