.spanwithtitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0.8rem;
}

.spanTitle {
	font-size: 1.5rem;
	color: #525252;
	font-weight: 700;
	margin-right: 0.4rem;
}

.spanContent {
	font-size: 1.5rem;
	color: #525252;
	text-align: right;
}
