.profile-top {
	margin-top: 2rem;
	padding: 1.6rem 2.6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile-bottom {
	min-height: 70rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	flex-direction: column;
}

.profile-bottom-categories {
	width: 100%;
	margin-top: 1rem;
	height: 3rem;
}

.profile-bottom-products {
	overflow-y: auto;
	height: 65rem;
	padding: 0 1rem;
}

.profile-bottom-products::-webkit-scrollbar {
	width: 0.5rem;
}

.profile-bottom-products::-webkit-scrollbar-track {
	border-radius: 0.5rem;
}

.profile-bottom-products::-webkit-scrollbar-thumb {
	border-radius: 0.5rem;
	background: #e0e0e0;
}

.user-info {
	font-size: 1.5rem;
	color: #525252;
	font-weight: 700;
}

.button-logout {
	width: 9rem;
	background-color: var(--error);
	color: var(--error-light);
	padding: 1rem 1rem;
}

.wrapper {
	background-color: #ffffff;
	border: 1px solid #f2f2f2;
	flex-direction: column;
}

.image {
	width: 7.8rem;
	height: 8.4rem;
}

@media screen and (min-width: 768px) {
	.wrapper {
		flex-direction: row;
	}
}
