.home-nav-list {
	position: relative;
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.home-nav-list::after {
	display: block;
	content: '';
	width: 100%;
	height: 2px;
	bottom: 0;
	position: absolute;
	background-color: #e0e0e0;
}
