:root {
	--primary-blue: #4b9ce2;
	--primary-light-blue: #f0f8ff;
	--error: #f77474;
	--error-light: #fff2f2;
	--background-color: #f2f2f2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-size: 10px;
	font-family: 'Nunito';
	background-color: var(--background-color);
}

#root > .App {
	width: 100%;
	position: relative;
	min-height: 100vh;
}

a {
	text-decoration: none;
}
