.product-info-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	padding: 0.6rem 0.6rem;
	background-color: #f0f8ff;
	border-radius: 0.8rem;
}

.product-info-left {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.product-info-right {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.single-card-heading {
	text-overflow: ellipsis;
	max-width: 13ch;
	font-size: 1.8rem;
}

.product-info-image {
	width: 5rem;
	height: 5rem;
	border-radius: 0.8rem;
}

.product-info-name {
	font-size: 1.3rem;
	color: #555555;
	padding-left: 0.7rem;
}

.product-info-price {
	color: #525252;
	font-size: 1.8rem;
	font-weight: 800;
}

.single-card-offer {
	width: 100%;
	margin-top: 0.5rem;
	padding: 0.8rem 1rem;
	background-color: #f2f2f2;
}

.accept {
	color: #4b9ce2;
	font-size: 1.5rem;
}

.decline {
	color: #f77474;
	font-size: 1.5rem;
}

.success {
	color: #47b83f;
	font-size: 1.5rem;
}

.wait-response {
	color: #faad60;
	font-size: 1.5rem;
}

.button {
	width: 10.8rem;
	height: 3rem;
	margin: 0 0.5rem;
}

@media screen and (min-width: 768px) {
	.product-info-wrapper {
		margin-top: 1.7rem;
	}
	.single-card-offer {
		width: 35%;
	}
}
