.customLink {
	display: flex;
	align-items: center;
	color: #4b9ce2;
	font-weight: 600;
	font-size: 1.5rem;
	background-color: #f0f8ff;
	padding: 1rem 1.5rem;
	margin: 0 0.4rem;
	border-radius: 0.8rem;
	text-decoration: none;
}

.link-svg {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.customLink {
		padding: 1rem 2rem;
	}
}
